/* --GLOBAL-- */


*, *::before, *::after {
    box-sizing: border-box;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    color: #2d2d2d;
}

h1 {
    text-align: center;
}

/* main nav */


.main-nav {
    background-color: #fff;
    overflow: hidden;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.main-nav a {
    text-decoration: none;
}


.nav-link {
    color: #0000008c;
    padding: 14px 16px;
    font-size: 1.1em;
    font-weight: 550;
}

.nav-link:hover {
    color: #4a4a4a;
}

.nav-link.active {
    color: #000;
    font-weight: 620;
}


.navbar-toggler {
    display: none;
    background: transparent;
    border: none;
}


.main-nav-link ul {
    list-style-type: none;
    display: flex;
}

.main-nav-link-btn a{
    margin-left: 10px;
}



@media (max-width: 880px) {

    .main-nav-link, .main-nav-link-btn {
        display: none;
    }

    .navbar-toggler {
        display: block;
        margin-top: 25px;
        float: right;
    }

    .main-nav-link.responsive, .main-nav-link-btn.responsive {
        margin: 0 auto;
        display: block;
        text-align: center;
    }

    .main-nav-link ul {
        display: block;
        padding: 0;
        margin: 0;
    }

    .main-nav, .main-nav-link.responsive a {
        display: block;
    }

    .main-nav-link-btn.responsive a {
        display: block;
        margin: 0;
    }

}


/* admin nav */


.admin-nav ul {
    background: #3763f4;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}


.admin-nav li {
    text-align: center;
    display: block;
    padding: 15px 0;
    width: 100%;
    cursor: pointer;
}


.admin-nav a {
    text-decoration: none;
    color: white;
    font-size: 1em;
    font-weight: 780;
}


.admin-nav li:hover {
    background: #2534a1;
}


@media (max-width: 600px ) {
    .admin-nav ul {
        display: block;
    }
}



/* footer */

footer {
    padding: 1.5rem 0;
    text-align: center;
}

footer p {
    color: #4e5d78;
}


.github-icon-container {
    display: inline-flex;
    padding: 10px;
    border-radius: 50%;
    background-color: #000000;
    color: #ffffff;
}


/* Default background page */

.default-page {
    padding: 48px 0px;
    background-color: #fffafe;
}


/* ++Error label++ */

.errorLabel {
    color: #dc3545;
}


/* ++link++ */

.std-link {
    color: #3763f4;
}


/* ++Button++ */


/*  default button style */


.btn {
    display: inline-block;
    padding: 10px 32px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.6;
    border: 1px solid;
    border-radius: 32px;
    cursor: pointer;
}


/*  rectangular button  */

.btn-rect {
    font-size: 16px;
    padding:10px 32px;
    border: 1px solid #424242;
    border-radius: 5px;
    cursor:pointer;
    text-transform: uppercase;
    display: block;
    margin: auto;
}


/* button large version */

.btn-large {
    width: 100%;
    margin: 20px 0px;
}


/* blue button */


.btn-blue {
    color: #fff;
    border-color:#3763f4;
    background-color: #3763f4;
}


.btn-blue:hover {
    background-color:#2534a1;
    border-color: #2c4fc3;
}


.btn-blue:active {
    background-color: #02198b;
    border-color: #294ab7;
    box-shadow: 0px 0px 5px #6610f2;
}


/* light button */


.btn-light {
    color: #000;
    border-color:#000;
    background-color: #f5f6f8;
}


.btn-light:hover {
    background-color:#d0d1d3;
}


.btn-light:active {
    background-color: #c4c5c6;
    box-shadow: 0px 0px 5px #2d2d2d;
}



/*  ++Input++  */


/*  Tutti tranne radio-input  */


input:not([type=radio]) {
    width: 100%;
    padding: 10px 24px;
    font-size: 16px;
    line-height: 1.6;
    border: 1px solid #ced4da;
    border-radius: 16px;
}

input:not([type=radio]):focus {
    background-color: #fff;
    outline: 0;
    box-shadow: 0 0 0 4px rgba(55, 99, 244, 0.25);
}

/* Solo radio input */

.radio-container {
    display: flex;
    margin: 10px auto;

}

input[type="radio"] {
    transform: scale(1.5);
    margin-right: 10px;
}
